/* container */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
@media (min-width: 1800px) {
    .container {
        max-width: 1750px;
    }
}

/* media */
@media (max-width: 1799px) {
    .lead__title {
        font-size: 58px;
        max-width: 460px;
    }
    .lead__text {
        font-size: 26px;
        max-width: 460px;
    }
    .tech__info {
        margin-bottom: 50px;
        max-width: 100%;
    }
    .tech .container {
        display: block;
    }
    .header__link {
        font-size: 13px;
        padding: 25px 10px;
    }
    .production__info {
        margin-top: 0;
    }
    .footer__types nav,
    .footer__info nav {
        grid-template-columns: 1fr;
    }
    .showcase__item {
        grid-column: span 3;
    }
    .showcase__item.size-l {
        grid-column: span 6;
    }
    .tech__info {
        margin-left: 0;
    }
    .grid__item:nth-of-type(4n + 1),
    .grid__title,
    .grid__text,
    .grid__subtitle {
        padding-left: 0;
    }

    .grid__item {
        align-items: center;
        display: grid;
    }

    .grid__list {
        row-gap: 25px;
    }
    .grid__subtitle {
        margin-top: 25px;
    }
    .grid_theme_layer {
        margin-bottom: 150px;
    }
    .info img {
        width: 500px;
        top: -241px;
        right: 0;
    }
    .client-form__wrapper {
        display: block;
    }
    .client-form__info {
        margin-bottom: 30px;
    }
    .client-form__title {
        margin: 0;
    }
    .client-form__title,
    .client-form__text,
    .client-form__form {
        max-width: 100%;
    }
    .info__item {
        background-size: 15%;
        background-position: top right;
    }
    .showcase__item.banner {
        grid-column: span 3;
        flex-direction: column;
        justify-content: flex-start;
        padding: 30px;
    }
    .showcase__item.banner .banner__text,
    .showcase__item.banner .form__input {
        display: none;
    }
    .catalog-grid__content {
        padding-right: 0;
        padding-left: 75px;
    }
    .catalog-grid__row:nth-child(2n) .catalog-grid__content {
        padding-right: 75px;
        padding-left: 0;
    }
    .category-grid__img {
        max-width: 150px;
    }
    .category-grid__info {
        padding: 75px 15px 75px 0;
    }

    .footer__types nav,
    .footer__info nav {
        gap: 20px;
    }

    .service {
        margin-bottom: 50px;
    }
    .service .container {
        grid-template-columns: 1fr 2fr;
    }
    .service__info {
        padding: 0 50px;
    }
    .details__column-left {
        padding-left: 0;
    }

    .details__warning {
        padding: 25px;
    }
    .details__description {
        padding: 30px 45px;
    }
    .product__item:nth-child(2n) .product__content {
        padding-left: 0;
    }
    .product__content {
        padding-left: 30px;
    }
    .product__content-title {
        font-size: 30px;
    }
    .details__column-left_position_top {
        position: static;
    }
}

@media (max-width: 1399px) {
    .catalog-grid__row .container {
        grid-template-columns: 500px 1fr;
    }
    .catalog-grid__row:nth-child(2n) .container {
        grid-template-columns: 1fr 500px;
    }
    .catalog-menu__link {
        padding: 20px;
        font-size: 20px;
        line-height: 24px;
    }
    .lang__list .lang__link {
        padding: 10px 25px 10px 10px;
    }
    .catalog-grid__row h3 {
        left: 10px;
        bottom: 20px;
        right: auto;
        top: auto;
        text-align: left;
    }
    .category-grid__content {
        display: block;
    }
    .category-grid__info {
        padding: 30px 15px 30px 0;
    }
    .category-grid__content {
        padding-top: 30px;
    }
    .category-grid__img {
        max-height: 200px;
    }

    .service__img {
        max-width: 500px;
        margin-bottom: 30px;
        margin-right: 30px;
        float: left;
    }
    .service .container {
        display: block;
    }
    .service__info {
        padding: 0;
    }
    .catalog-grid__price-box {
        display: block;
    }
    .catalog-grid__price-box .btn {
        width: 100%;
    }
    .catalog-grid__price-box span {
        padding: 20px;
        margin-bottom: 30px;
    }
}

@media (max-width: 1199px) {
    .lang {
        margin-right: 30px;
    }
    .lang__link.header__link {
        margin: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .lead__title {
        font-size: 40px;
        max-width: 360px;
    }
    .lead__text {
        font-size: 24px;
        max-width: 360px;
    }

    .header__nav {
        position: fixed;
        width: 100%;
        height: calc(100% - 70px);
        bottom: 0;
        left: 0;
        z-index: 5;
        background-color: #1e2632;
        transform: translateX(-100%);
        transition: transform 0.3s;
    }
    .header__links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .header__link {
        margin: 0 30px 0 auto;
    }
    .header__nav .header__link {
        font-size: 24px;
    }

    .showcase__img {
        max-width: 75%;
    }
    .callback .container {
        flex-direction: column;
        gap: 20px;
    }
    .footer__contacts-link {
        font-size: 14px;
        line-height: 20px;
    }
    .footer .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .footer__copyright {
        grid-row: 2;
    }
    .footer__info {
        justify-content: flex-end;
    }
    .footer__types nav,
    .footer__info nav {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid__list {
        grid-template-columns: 1fr;
    }
    .grid__item:nth-of-type(3),
    .grid__item:nth-of-type(4) {
        grid-column: auto;
        grid-row: auto;
    }
    .table {
        padding-left: 0;
    }
    .client-form__wrapper {
        padding: 50px;
    }
    .catalog-grid__row .container,
    .catalog-grid__row:nth-child(2n) .container {
        grid-template-columns: minmax(0, 1fr);
    }
    .catalog-grid__row:nth-child(2n) .catalog-grid__content {
        order: 1;
    }
    .catalog-grid__content {
        padding-left: 0;
    }
    .catalog-grid__row:nth-child(2n) .catalog-grid__content {
        padding-right: 0;
    }
    .category-grid__title {
        font-size: 32px;
        line-height: 40px;
    }
    .category-grid__subtitle {
        margin: 0 0 15px;
        font-size: 24px;
    }
    .records__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .catalog-grid__price-box {
        max-width: 50%;
    }
    .details .container {
        display: block;
    }
    .details__props-list {
        margin-bottom: 50px;
    }
}

@media (max-width: 991px) {
    .lead .play-link {
        font-size: 0;
        left: 75%;
    }
    .lead .scroll-link {
        right: 20px;
    }
    .showcase__item {
        grid-column: span 6;
    }

    .slider .container {
        max-width: 100%;
    }

    .slider__info {
        left: 65px;
    }

    .slider__arrows {
        align-items: center;
        position: absolute;
        bottom: -26px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .footer .container {
        gap: 30px;
    }

    .footer__link {
        font-size: 12px;
    }

    .tech .container {
        flex-direction: column;
    }

    .tech__info {
        margin: 0;
        max-width: 100%;
    }

    .production .container {
        grid-template-columns: 1fr;
        gap: 80px;
    }

    .production__text {
        max-width: 100%;
    }

    .showcase {
        margin-bottom: 80px;
    }
    .info__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .client-form__form {
        grid-template-columns: 1fr;
    }
    .client-form textarea {
        grid-column: auto;
        grid-row: auto;
    }
    .footer__info {
        display: block;
    }
    .showcase__item.banner {
        grid-column: span 6;
    }
    .category-grid__list {
        grid-template-columns: 1fr;
    }
    .category-grid__title {
        font-size: 28px;
        line-height: 25px;
    }
    .product__item {
        display: block;
    }
    .product__slider-wrapper {
        margin-bottom: 50px;
    }
    .product__content {
        padding-left: 0;
    }
    .product__props-list {
        max-width: 100%;
    }
    .service__title,
    .product__title {
        font-size: 32px;
    }
    .product__heading {
        gap: 50px;
    }
}

@media (max-width: 767px) {
    .slider__info {
        left: 50%;
        transform: translateX(-50%);
    }

    .slider__title {
        color: #fff;
        font-weight: 700;
        font-size: 25px;
        line-height: 120%;
        text-transform: uppercase;
        margin: 0 0 5px;
    }
    .intro {
        padding: 100px 15px;
    }

    .callback .form {
        display: block;
        width: 100%;
    }

    .callback .form__btn-submit {
        width: 100%;
    }
    .callback .form__input {
        width: 100%;
    }
    .callback__info {
        font-size: 18px;
    }
    .footer .container {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .footer__info,
    .footer__social {
        justify-content: flex-start;
    }
    .footer__social {
        gap: 69px;
    }
    .footer__copyright {
        grid-row: 4;
    }
    .footer .container > * {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer__types {
        padding: 0;
        background-color: transparent;
    }
    .info__top {
        display: block;
    }
    .info img {
        top: -275px;
    }
    .product__heading {
        display: block;
    }
    .product__content-title {
        font-size: 28px;
    }
    .product__content-text {
        margin-bottom: 15px;
    }
    .catalog-grid__price-box {
        max-width: 100%;
    }
}

@media (max-width: 575px) {
    .header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    main.content {
        margin-top: 70px;
    }
    .lead__link {
        width: 100%;
    }
    .intro__text {
        font-size: 16px;
    }

    .showcase__info-title,
    .showcase-category__item .showcase__info-title {
        font-size: 30px;
    }
    .showcase__info-subtitle {
        display: none;
    }
    .showcase__img {
        max-width: 72%;
        right: 0;
    }
    .showcase .container {
        grid-auto-rows: 250px;
    }

    .showcase__info-item {
        justify-content: flex-start;
    }

    .contacts__banner {
        position: static;
        padding: 50px 0;
    }

    .grid__title {
        font-size: 30px;
    }

    .contacts__banner-title,
    .contacts__banner-subtitle {
        display: none;
    }

    .contacts__title {
        margin: 0;
    }

    .tech__images img:nth-child(1) {
        width: 100%;
    }

    .dot {
        display: none;
    }

    .lead .play-link {
        display: none;
    }

    .tech__images {
        display: none;
    }
    .info__list {
        grid-template-columns: 1fr;
    }
    .info img {
        top: -250px;
        width: 300px;
    }
    .client-form__wrapper {
        padding: 30px;
    }
    .showcase__item.banner {
        gap: 50px;
        justify-content: center;
    }
    .banner__title {
        display: none;
    }
    .banner .form__btn-submit {
        font-size: 16px;
    }
    .catalog-menu__link {
        padding: 15px;
        font-size: 16px;
        line-height: 18px;
    }
    .catalog-grid__content,
    .catalog-grid__row:nth-child(2n) .catalog-grid__content {
        padding: 0;
    }
    .footer__social nav {
        flex-direction: row;
        align-items: flex-end;
    }
    .catalog-grid__slider-wrapper {
        padding-top: 50px;
    }
    .catalog-grid__row h3 {
        top: -20px;
        color: #000;
        font-size: 32px;
        line-height: 32px;
    }
    .catalog-grid__row h3 span {
        display: inline;
    }
    .catalog-grid__row:first-child {
        padding-top: 25px;
    }
    .catalog-grid h2 {
        font-size: 36px;
        margin: 20px 0;
    }
    .catalog-grid__text {
        margin: 20px 0;
    }
    .catalog-grid {
        margin-bottom: 30px;
    }
    .category-grid__content,
    .category-grid__item:nth-child(2) .category-grid__content {
        text-align: center;
        padding: 30px 15px;
    }
    .category-grid__img {
        margin: 0 auto;
    }
    .service__img {
        max-width: 100%;
    }
    .records__list {
        grid-template-columns: 1fr;
    }
    .records__title {
        font-size: 32px;
    }
    .btn {
        width: 100%;
    }
    .product__content-title {
        font-size: 24px;
    }
    .product__heading {
        padding: 15px 0;
    }
    .service__title,
    .product__title {
        font-size: 28px;
    }
    .details__title,
    .product_info_tech .product__content-title {
        font-size: 32px;
    }
    .details {
        margin-bottom: 50px;
    }
    .details__description {
        padding: 20px 15px;
    }
    .details__prop:after {
        display: none;
    }
    .details__prop strong,
    .details__prop span {
        float: none;
        display: block;
        margin: 0 0 10px 0;
        width: 100%;
    }
    .details .details__prop strong {
        background-color: #f3f3f3;
    }
    .lead_prod-slider .container {
        padding: 30px;
    }
    .lead_product,
    .lead_prod-slider {
        margin-bottom: 0;
    }
    .popup {
        padding: 0;
    }
    .popup__container {
        padding: 15px;
    }
    .popup__title {
        font-size: 22px;
    }
    .popup__grid {
        display: block;
    }
    .popup__product-info {
        border-left: 0;
        border-right: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }
    .popup__btn-close {
        top: 15px;
        right: 20px;
    }
}

@media (max-width: 419px) {
    .showcase__info-title,
    .showcase-category__item .showcase__info-title {
        font-size: 24px;
    }
}
