/* container */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1800px) {
    .container {
        max-width: 1750px;
    }
}

/* media */
@media (max-width: 1799px) {
    .lead__title {
        font-size: 58px;
        max-width: 460px;
    }
    .lead__text {
        font-size: 26px;
    }
    .tech__images img:nth-child(2) {
        display: none;
    }
    .header__link {
        font-size: 13px;
        padding: 25px 10px;
    }
    .production__info {
        margin-top: 0;
    }
    .footer__types nav,
    .footer__info nav {
        grid-template-columns: 1fr;
    }
    .showcase__item {
        grid-column: span 3;
    }
    .showcase__item.size-l {
        grid-column: span 6;
    }
    .tech__info {
        margin-left: 0;
    }
}

@media (max-width: 1199px) {
    .header__nav {
        display: none;
    }
    .callback .container {
        flex-direction: column;
        gap: 20px;
    }
    .footer__contacts-link {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 991px) {
    .showcase__item {
        grid-column: span 6;
    }

    .slider__arrows {
        align-items: center;
        position: absolute;
        bottom: -26px;
        left: calc(50%; - 50%);
    }

    .footer .container {
        gap: 30px;
    }

    .footer__link {
        font-size: 12px;
    }

    .tech .container {
        flex-direction: column;
    }

    .tech__info {
        margin: 0;
        max-width: 100%;
    }

    .production .container {
        grid-template-columns: 1fr;
        gap: 80px;
    }

    .production__text {
        max-width: 100%;
    }

    .showcase {
        margin-bottom: 80px;
    }
}

@media (max-width: 767px) {
    .intro {
        padding: 100px 15px;
    }

    .callback .form {
        display: block;
    }

    .callback .form__btn-submit {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .showcase__info-subtitle {
        background-color: #f9f9f9;
    }
    .showcase__info-title {
        font-size: 30px;
    }
    .contacts__banner {
        position: static;
    }
    .contacts__title {
        margin: 0;
    }

    .tech__images img:nth-child(1) {
        width: 100%;
    }

    .dot {
        display: none;
    }
    /* .callback .form {
        margin: 0 15px;
    } */
}
